---
http_interactions:
- request:
    method: get
    uri: https://api.testnet.algoexplorer.io/v2/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"catchpoint":"","catchpoint-acquired-blocks":0,"catchpoint-processed-accounts":0,"catchpoint-total-accounts":0,"catchpoint-total-blocks":0,"catchpoint-verified-accounts":0,"catchup-time":0,"last-catchpoint":"15520000#PMROZ7MTWNNXJUXHE7G72AT4YTYIUBVSAUSAOLUIIL7A26LWSP2A","last-round":15525690,"last-version":"https://github.com/algorandfoundation/specs/tree/65b4ab3266c52c56a0fa7d591754887d68faad0a","next-version":"https://github.com/algorandfoundation/specs/tree/65b4ab3266c52c56a0fa7d591754887d68faad0a","next-version-round":15525691,"next-version-supported":true,"stopped-at-unsupported-round":false,"time-since-last-round":3179930265}

        '
  recorded_at: Wed, 21 Jul 2021 11:12:38 GMT
recorded_with: VCR 5.1.0
